/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0px;
  padding: 0px;
  word-wrap: break-word;
}

a {
  text-decoration:none; 
}

header {
  background-color: #ffa6a6;
  color: rgb(253, 253, 253);
  height: 90px;
  border-bottom:4px solid rgb(223, 147, 166);
  width: 100%;
}

.header-logo {
  float: left;
  font-size: 38px;
  height: 60px;
  padding: 15px;  
}

.header-logo a {
  color: rgb(253, 253, 253);
}

.header-logo:hover {
  background-color: #f390a0;
}


.header-list {
  display: flex;
  justify-content: flex-end;
}

.header-list li {
  list-style: none;
  float: right;
  padding: 33px 20px;
}

.header-list li:hover {
 background-color: #f390a0;
}

.question-search-field input {
  font-size: 16px;
  background-color: #ffffffa1;
  width: 250px;
  padding: 7px;
  margin: 26px;
  border: 2.5px solid #888888;
  box-shadow: 0 1px 2px #888888;
  border-radius: 6px;
}

.question-search-field input:focus {
  border: solid 2.5px #313131;
  box-shadow: 0 1px 2px #888888;
  outline: none;
}

.header-bottom {
  height: 50px;
  border-bottom:2.5px solid rgb(223, 147, 166);
  width: 100%;
}

.header-bottom h2 {
 color: rgb(250, 127, 127);
 font-size: 22px;
 padding: 9px 15px; 
 float: left;
}

.header-bottom h3 {
  margin: 0px;
  padding: 11px 15px;
  float: right;
}

footer {
  box-sizing: border-box;
  background-color: #ffa6a6;
  color: rgb(253, 253, 253);
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  width: 100%;
}

#error_explanation li {
  text-align: center;
  list-style: none;
  padding-top: 3px;
  color: rgb(250, 127, 127);
  font-weight: bold;
}