// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#questions-new, #questions-create, #questions-edit, #questions-update {
  .container {
    .error-messages {
      padding-top: 20px;
      padding-left: 15%;
      font-weight: bold;
      color: rgb(250, 127, 127);
      li {
        list-style: none;
      }
    }

    .question-content {
      text-align: center;
      textarea {
        width: 70%;
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 20px;
        padding: 5px;
        border: 1.5px solid #a09d9d;
        border-radius: 5px;
        outline: none;
      }
      textarea:focus {
        border: solid 1.5px #313131;
        outline: none; 
      }
    }

    .question-image {
      text-align: center;
      padding-left: 28%;
    }

    .actions {
      padding: 30px 0 20px 0;
      text-align: center;
      .button {
        width: 50%;
        border-radius : 5px;        
        font-size     : 11pt;      
        cursor        : pointer;     
        padding       : 7px 5px;  
        background    : #ffa6a6;     
        color         : #ffffff;    
        line-height   : 1em;         
        transition    : 0.4s;       
        box-shadow: 1px 2px #a19494;
        border: 1.5px solid #806a6a
      }
      .button:hover {
        background-color: #eb8b8b;
        box-shadow    : none;       
      }
    }
  }
}



#questions-show {
  .flash-and-error-container{
    text-align: center;
    .notice {
      padding-top: 2%;
      padding-right: 590px;
      color: rgb(250, 127, 127);
      font-weight: bold;
    }

    .error_messages {
      padding: 10px;
      li {
        @extend .notice
      }
    }

    .question-container {
      width: 800px;
      margin: 0 auto;
      border: 2px solid #ffa6a6;
      margin-top: 30px;
      margin-bottom: 35px;
      border-radius: 15px;
      
      .question_user_informations {
        display: flex;
        text-align: left;
        padding: 1% 0;
        margin: 0px 2%;
        border-bottom: 2px solid #ffa6a6;
     
        .question_user_profile_image {
          border-radius: 50%;
          
        }
  
        .question_user_name_and_update_at {
          padding-top: 1%;
          padding-left: 2%;
          li {
            list-style: none;
          }
        }
      }
      
      .question_content {
    
        padding: 1%;
        margin: 3px 2% 0 2%;
        border-bottom: 2px solid #ffa6a6; 
        .question_text {
          text-align: left;
        }
        .question_image {
          padding-top: 7px;
        }
      }
  
      .question_options {
        padding: 1.2% 3%;
        height: 23px;
        .question_interest {
          float: left;
          .question-icon {
            font-size: 21px;
            color: #ffa6a6;
          }
        }
        .question_edit_and_delete {
          float: right;
        }
      }
    }
  
  }
  
  

  
  

  .answer-container {
    width: 800px;
    margin: 0 auto;
    border: 2px solid rgb(223, 147, 166);
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 15px;
    .answer_user_informations {
      display: flex;
      padding: 1% 0;
      margin: 0px 2%;
      border-bottom: 2px solid rgb(223, 147, 166);
   
      .answer_user_profile_image {
        border-radius: 50%;
        
      }
  
      .answer_user_name_and_update_at {
        padding-top: 1%;
        padding-left: 2%;
        li {
          list-style: none;
        }
      }
    }
  
    .answer_content {
      padding: 1%;
      margin: 3px 2% 0 2%;
      border-bottom: 2px solid rgb(223, 147, 166); 
      .answer_image {
        text-align: center;
        padding-top: 7px;
      }
    }
  
    .answer_options {
      padding: 1.2% 3%;
      height: 23px;
      .answer_interest {
        float: left;
        .answer-icon {
          font-size: 21px;
          color: rgb(223, 147, 166);
        }
      }
      .answer_edit_and_delete {
        float: right;
      }
    }
  }

  

  .current-answer-container {
    .current-answer-content {
      text-align: center;
      textarea {
        width: 70%;
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 20px;
        padding: 5px;
        border: 1.5px solid #a09d9d;
        border-radius: 5px;
        outline: none;
      }
      textarea:focus {
        border: solid 1.5px #313131;
        outline: none; 
      }
    }
  
    .current-answer-image {
      text-align: center;
      padding-left: 28%;
    }
  
    .actions {
      padding: 30px 0 20px 0;
      text-align: center;
      .button {
        width: 50%;
        border-radius : 5px;        
        font-size     : 11pt;      
        cursor        : pointer;     
        padding       : 7px 5px;  
        background    : #ffa6a6;     
        color         : #ffffff;    
        line-height   : 1em;         
        transition    : 0.4s;       
        box-shadow: 1px 2px #a19494;
        border: 1.5px solid #806a6a
      }
      .button:hover {
        background-color: #eb8b8b;
        box-shadow    : none;       
      }
    }
  }

  
}


