// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#registrations-new, #registrations-create, #sessions-new, 
#registrations-edit, #registrations-update {
  .container { 
    width: 50%;
    margin: 0 auto;
    border: 2px solid #ffa6a6;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 15px;

    h2 {
      text-align: center;
      margin-top: 15px;
      font-size: 20px;
    }
    
    .field {
      text-align: center;
      .label-text {
        text-align: left;
        padding: 18px 19% 5px 19%;
        font-size: 14px;
        font-weight: bold;   
      }

      input {
        width: 60%;
        padding: 5px;
        border: 1.5px solid #a09d9d;
        border-radius: 5px;  
        outline: none; 
      }
      input:focus {
        border: solid 1.5px #313131;
        outline: none;
      }
    }

    .actions {
      padding: 30px 0 20px 0;
      text-align: center;
      .button {
        width: 60%;
        border-radius : 5px;        
        font-size     : 11pt;      
        cursor        : pointer;     
        padding       : 7px 5px;  
        background    : #ffa6a6;     
        color         : #ffffff;    
        line-height   : 1em;         
        transition    : 0.4s;       
        box-shadow: 1px 2px #a19494;
        border: 1.5px solid #806a6a
      }
      .button:hover {
        background-color: #eb8b8b;
        box-shadow    : none;       
      }
    }

    .link {
      padding: 8px 0 20px 0;
      text-align: center;
    }
  }

  .alert {
    text-align: center;
    list-style: none;
    padding-top: 3px;
    color: rgb(250, 127, 127);
    font-weight: bold;
  }
}

#users-edit, #users-update {
  @extend #registrations-new;
  .container {
    .user-content {
      text-align: center;
      .label-text {
        text-align: left;
        padding: 18px 19% 5px 17%;
        font-size: 14px;
        font-weight: bold;   
      }
      
      textarea {
        width: 60%;
        font-size: 16px;
        padding: 5px;
        border: 1.5px solid #a09d9d;
        border-radius: 5px;
        outline: none;
      }
      textarea:focus {
        border: solid 1.5px #313131;
        outline: none; 
      }
    }

    .user-image {
      text-align: center;
      .label-text {
        text-align: left;
        padding: 18px 19% 10px 17%;
        font-size: 14px;
        font-weight: bold;   
      }   
    }

    .error-messages {
      text-align: center;
      padding-top: 3px;
      color: rgb(250, 127, 127);
      font-weight: bold;
      li {
        list-style: none;
      }
    }  
  }

}