// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#registrations-new, #registrations-create, #sessions-new, 
#registrations-edit, #registrations-update {
  .container { 
    width: 50%;
    margin: 0 auto;
    border: 2px solid #ffa6a6;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 15px;

    h2 {
      text-align: center;
      margin-top: 15px;
      font-size: 20px;
    }
    
    .field {
      text-align: center;
      .label-text {
        text-align: left;
        padding: 18px 19% 5px 19%;
        font-size: 14px;
        font-weight: bold;   
      }

      input {
        width: 60%;
        padding: 5px;
        border: 1.5px solid #a09d9d;
        border-radius: 5px;  
        outline: none; 
      }
      input:focus {
        border: solid 1.5px #313131;
        outline: none;
      }
    }

    .actions {
      padding: 30px 0 20px 0;
      text-align: center;
      .button {
        width: 60%;
        border-radius : 5px;        
        font-size     : 11pt;      
        cursor        : pointer;     
        padding       : 7px 5px;  
        background    : #ffa6a6;     
        color         : #ffffff;    
        line-height   : 1em;         
        transition    : 0.4s;       
        box-shadow: 1px 2px #a19494;
        border: 1.5px solid #806a6a
      }
      .button:hover {
        background-color: #eb8b8b;
        box-shadow    : none;       
      }
    }

    .link {
      padding: 8px 0 20px 0;
      text-align: center;
    }
  }

  .alert {
    text-align: center;
    list-style: none;
    padding-top: 3px;
    color: rgb(250, 127, 127);
    font-weight: bold;
  }
}

#users-edit, #users-update {
  @extend #registrations-new;
  .container {
    .user-content {
      text-align: center;
      .label-text {
        text-align: left;
        padding: 18px 19% 5px 17%;
        font-size: 14px;
        font-weight: bold;   
      }
      
      textarea {
        width: 60%;
        font-size: 16px;
        padding: 5px;
        border: 1.5px solid #a09d9d;
        border-radius: 5px;
        outline: none;
      }
      textarea:focus {
        border: solid 1.5px #313131;
        outline: none; 
      }
    }

    .user-image {
      text-align: center;
      .label-text {
        text-align: left;
        padding: 18px 19% 10px 17%;
        font-size: 14px;
        font-weight: bold;   
      }   
    }

    .error-messages {
      text-align: center;
      padding-top: 3px;
      color: rgb(250, 127, 127);
      font-weight: bold;
      li {
        list-style: none;
      }
    }  
  }

}

#users-show, #users-user_favorites {
  .notice {
    text-align: center;
    color: #fa7f7f;
    font-weight: bold;
    padding-top: 30px;
  }
  .profile-container {
    width: 500px;
    margin: 0 auto;
    border: 3px solid #ffa6a6;
    margin-top: 30px;
    margin-bottom: 35px;
    border-radius: 15px;
    .user-informations {
      display: flex;
      margin: 0 20px;
      padding: 8px 0px;
      border-bottom: 2px solid #ffa6a6;
      .user-image {
        border-radius: 50%;
        padding: 5px 10px;
      }
      .name {
        font-size: 23px;
        padding-top: 30px;
        padding-left: 15px;
      }
    }
    .self-introduction {
      font-size: 18px;
      padding: 3px 23px 1px 23px;
      margin: 10px;     
    }    
    .user-edit-change {
      padding-top: 13px;
      padding-left: 13px;
      border-top: 2px solid #ffa6a6;
      margin: 11px 20px;
    }
  }
  .user-tabs {
    margin: 0 auto;
    border: 2px solid #a09d9d80;
    box-shadow: 0 1px 4px #a09d9d80;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 900px;
  }
  .user-tabs li {
    float: left;
    list-style: none;
    padding: 15px 54px;
  }
  .user-tabs li:hover {
    background-color: #a09d9d40;
  }
  .question-answer-container {
    width: 800px;
    margin: 0 auto;
    border: 2px solid #ffa6a6;
    margin-top: 30px;
    margin-bottom: 35px;
    border-radius: 15px;
    .question_user_informations {
      display: flex;
      text-align: left;
      padding: 1% 0;
      margin: 0 2%;
      border-bottom: 2px solid #ffa6a6;
      .question_user_profile_image {
        border-radius: 50%;
      }
      .question_user_name_and_update_at {
        font-size: 18px;  
        padding-top: 1%;
        padding-left: 2%;
        li {
          list-style: none;
        }
      }
    }
    .question_content {  
      font-size: 18px;  
      padding: 1%;
      margin: 3px 2% 0 2%;
      .question_image {
        text-align: center;
        padding-top: 7px;
      }
    }
    
    
    .answer_user_name_and_update_at {
      font-size: 14px;
      font-weight: bold;
      padding: 1%;
      margin: 0px 2%;
      border-top: 2px solid #ffa6a6;
      border-bottom: 2px solid #ffa6a6;
      color: #ffa6a6;
    }  
    .answer_content {
      font-size: 14px;
      padding: 1%;
      margin: 3px 2% 0 2%;
    }
  }   
}